<div class="main">
    <div class="gen-clar">
        <h1>General Clarification</h1>
        <div class="gen-clar clars">
            <button (click)="addClar(clar)" class="{{clar.status}}" *ngFor="let clar of genClar" >{{clar.code}}</button>
        </div>
    </div>
    <div class="patient-clar">
        <h1>Patient Clarification</h1>
        <div class="pt-clar clars">
            <button (click)="addClar(clar)" class="{{clar.status}}" *ngFor="let clar of patientClar" >{{clar.code}}</button>
        </div>
    </div>
    <div class="gen-clar">
        <h1>Md Clarification</h1>
        <div class="md-clar clars">
            <button (click)="addClar(clar)" class="{{clar.status}}" *ngFor="let clar of mdClar" >{{clar.code}}</button>
        </div>
    </div>
    <div class="gen-clar">
        <h1>RX Clarificaitons</h1>
        <div class="rx-clar clars">
            <button (click)="addClar(clar)" class="{{clar.status}}" *ngFor="let clar of rxClar" >{{clar.code}}</button>
        </div>
    </div>
    <div class="response">
        
        <div class="short">
            <h3>Shortened Clarification</h3>
            {{shortOutput}} 
        </div>
        <div class="long">
            <h3>Extended Clarification</h3>
            {{longOutput}}
        </div>
    </div>
</div>

