.clars {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-areas: "1 1 1 1 1";
    gap: 1vh 3vw;
    padding: 0vw 3vw;
}

button {
    width: 16vw;
    height: 5vh;
    border: none;
    background-color: rgb(95, 134, 95);
    color: white;
    font-weight: 500;
    border-radius: 1vw;

}

.active {
    background-color: rgb(139, 37, 37);
}

h1{
    padding: 3vh 3vw 0vh 3vw;
    font-weight: 500;
}

h3 {
    color: rgb(51, 89, 114);
    font-weight: 500;
    font-size: 1.2rem;
}

.main {
    background-color: rgb(238, 238, 238);
    padding-bottom: 3vh;
}

.response {
    display: flex;
    flex-direction: row;
    height: 25vh;
    justify-content: center;
    margin: 2vh 0 2vh 0;
    gap: 2vw;
}

.short, .long {
    width: 45vw;
    padding: 3vw;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(172, 189, 204);
    border-radius: 1vw;
}

.section {
    padding: 0 0vw;
}

.rx-clar {
    grid-template-areas: "1 1 1 1 1 1";
}

.rx-clar button {
    width: 12.5vw;
}